body {
  background-color: rgb(245, 220, 245);
}

.base {
  background-color: rgb(248, 247, 247);
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 20px;
  width: auto;
}
input {
  border: 1px solid rgb(235, 232, 232);
  height: 60px;
  width: 80%;
  margin-left: 30px;
  border-radius: 10px;
  background-color: rgb(219, 252, 252);
  text-align: right;
  box-sizing: border-box; /*keeps height consistent*/
  padding: 20px;
}
.equal {
  height: 50px;
  width: 200%; /* stretch to fit grid cell */
  border-radius: 50px;
  background-color: rgb(245, 220, 245);
  box-shadow: 1px 1px 6px grey;
  border: none;
}
.buttons {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;
  margin-top: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.button {
  box-shadow: 1px 1px 6px grey;
  background-color: rgb(255, 255, 255);
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.button:hover {
  box-shadow: 1px 1px 6px rgb(245, 220, 245);
  cursor: pointer;
}
.equal:hover {
  box-shadow: 1px 1px 6px rgb(245, 220, 245);
  cursor: pointer;
}
