body {
  background-image: url("https://wallpapers.com/images/hd/rows-and-rows-of-goods-in-a-supermarket-z137yrsy0yzaksnf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: sans-serif;
}
.h1 {
  text-align: center;
  text-shadow: 5px 5px 8px black;
}
h1 {
  font-size: 50px;
}
.outer {
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: auto;
  width: 500px;
  background-color: transparent;
  background-color: rgba(194, 186, 169, 0.5);
}
h2,
h4 {
  padding: 10px;
  text-align: center;
}
.menuList {
  display: flex;
  justify-content: space-between;
  width: 490px;
}
.menuList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuList li {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}
.quantity {
  margin-left: 5px;
  width: 50px;
}
.orders {
  width: 50%;
  min-height: 100px;
  height: auto;
  background-color: transparent;
  background-color: rgba(190, 131, 4, 0.3);
}
.orderslist {
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
label,
.receipt {
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
}
